{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personajes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body class="bg-dark">
    <section class="d-flex align-items-center flex-column container-sm text-center">
        <h2 class="text-light">la sugar mami de todos los tiempos</h2>
        <h3 class="text-light"><span>toriel</span></h3>
        <img class="w-50" src="{% static 'toriel.gif' %}" alt="">
        <h2 class="text-light">la pescada de la guerra</h2>
        <h3 class="text-light"><span>undyne</span></h3>
        <img class="w-50" src="{% static 'undyne.gif' %}" alt="">
        <h2 class="text-light">la dinosauria? nadie sabe que es</h2>
        <h3 class="text-light"><span>alphys</span></h3>
        <img class="w-50" src="{% static 'alphys.gif' %}" alt="">
        <h2 class="text-light">el esqueleto viejero del tiempo</h2>
        <h3 class="text-light"><span>sans</span></h3>
        <img class="w-50" src="{% static 'sans.gif' %}" alt="">
        <h2 class="text-light">new waifu de deltarune y maga de hielo</h2>
        <h3 class="text-light"><span>noelle</span></h3>
        <img class="w-50" src="{% static 'noelle.gif' %}" alt="">
    </section>
    
</body>
</html>