{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deltarune</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <section class="d-flex align-items-center flex-column">
        <img src="{% static 'deaddance.gif' %}" alt="">
        <h2 class="text-light">saluda a nuestro equipo</h2>
        <h3 class="text-light">nuestra waifu <span>ralsei</span></h3>
        <img class="w-50" src="{% static 'comentario3.gif' %}" alt="">
    </section>
</body>
</html>